.filter-div,
.side-bar-cont,
.dropdown,
.dropdown-item {
    z-index: 1;
}

body {
  width: 100vw;
  overflow: hidden;
}

.cont {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.filter-cont {
    transition: 200ms left ease;
    position: absolute;
    top: 0;
    left: 10vw;
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.filter-div {
    padding: 10px 30px;
}

.dropdown {
    display: inline;
}

#clear-button {
    margin-left: 80px;
}

.dropdown-item {
    cursor: pointer;
}

.side-bar-cont {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms left ease;
}

.side-bar {
    width: 22vw;
    height: 100vh;
    box-sizing: border-box;
    margin-left: 0;
    overflow: auto;
}

.sort-header {
    cursor: pointer;
}

#close-button {
    margin: 10px 20px 10px 10px;
    position: absolute;
    right: 0px;
}

.side-bar-contents {
    padding: 10px 30px;
    padding-right: 70px;
}

.map-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.map-cont {
    z-index: 0;
    overflow: hidden;
}

.time-cont {
    transition: 200ms left ease;
    position: absolute;
    bottom: 20px;
    width: 100vw;
    left: 10vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.slider-div {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    overflow: hidden;
}

#slider {
    width: 400px;
    margin: 20px;
    overflow: hidden;
}

.year-label {
    display: inline;
}

.counties {
    fill: none;
    stroke: #ddd;
    stroke-width: 0.3px;
    stroke-linejoin: round;
}

.states {
    fill: none;
    stroke: #ddd;
    stroke-linejoin: round;
    cursor: pointer;
}

svg {
    position: fixed;
    top: 0;
    left: 10vw;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 0;
    transition: 200ms left ease;
}

.side-bar td {
    margin: 10px;
}

#side-bar-table-cont {
    max-height: 90vh;
}
