.filter-div,
.side-bar-cont {
    z-index: 1;
}

.cont {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.filter-cont {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.filter-div {
    padding: 10px 30px;
    width: calc(80% - 40px);
}

.dropdown {
    display: inline;
}

.dropdown-item {
    cursor: pointer;
}

.side-bar-cont {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar {
    background: blue;
    width: 15vw;
    height: 80vh;
    margin-left: 20px;
    overflow-y: auto;
}

.map-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-cont {
    z-index: 0;
}

.time-cont {
    position: absolute;
    bottom: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.slider-div {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

#slider {
    width: 400px;
    margin: 20px;
}

.year-label {
    display: inline;
}

.counties {
    fill: none;
    stroke: #ddd;
    stroke-width: 0.3px;
    stroke-linejoin: round;
}

.states {
    fill: none;
    stroke: #ddd;
    stroke-linejoin: round;
    cursor: pointer;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
